force-app/main/default/flows/AccountDataDisplay.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>FetchData</name>
        <label>FetchData</label>
        <locationX>299</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>AccountData1.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountRecords.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountData1.AccountSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountRecords.AccountSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountData1.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountRecords.Active__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AccountCreation</targetReference>
        </connector>
    </assignments>
    <interviewLabel>AccountDataDisplay {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountDataDisplay</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAccountRecords</name>
        <label>GetAccountRecords</label>
        <locationX>175</locationX>
        <locationY>110</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FetchData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountNumber</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>AccountSource</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>AccountCreation</name>
        <label>AccountCreation</label>
        <locationX>425</locationX>
        <locationY>110</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AccountData</name>
            <fieldText>&lt;p&gt;Hi I am Account. My Name is  &lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!AccountData1.Name} &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;and Source is &lt;/span&gt;&lt;b&gt;{!AccountData1.AccountSource}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Status is &lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!AccountData1.Active__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>AccountData1.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suffix</name>
                <value>
                    <stringValue>Mr.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetAccountRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountData1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
