force-app/main/default/flows/AccountDetails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <dynamicChoiceSets>
        <name>OnboardingStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Onboarding_Status__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SLA</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SLA__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>AccountDetails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountDetails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccounts</name>
        <label>getAccounts</label>
        <locationX>176</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountView</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Account</name>
        <label>update Account</label>
        <locationX>516</locationX>
        <locationY>467</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccounts.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <elementReference>Annual_Revenue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Onboarding_Status__c</field>
            <value>
                <elementReference>Onboarding_Statusx</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA__c</field>
            <value>
                <elementReference>SLAx</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Types</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>AccountView</name>
        <label>AccountView</label>
        <locationX>197</locationX>
        <locationY>383</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>update_Account</targetReference>
        </connector>
        <fields>
            <name>AccountView_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AccountView_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getAccounts.Name</elementReference>
                    </defaultValue>
                    <fieldText>Account Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>BillingCity</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getAccounts.BillingCity</elementReference>
                    </defaultValue>
                    <fieldText>Billing City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>BillingState</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getAccounts.BillingState</elementReference>
                    </defaultValue>
                    <fieldText>Billing State</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>BillingCountry</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getAccounts.BillingCountry</elementReference>
                    </defaultValue>
                    <fieldText>Billing Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AccountView_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccId</name>
                    <fieldText>&lt;p&gt;{!getAccounts.Id}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>BillingPostalCode</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getAccounts.BillingPostalCode</elementReference>
                    </defaultValue>
                    <fieldText>Biling Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Industry</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getAccounts.Industry</elementReference>
                    </defaultValue>
                    <fieldText>Industry</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Description</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getAccounts.Description</elementReference>
                    </defaultValue>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AccountView_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Types</name>
                    <choiceReferences>Type</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Annual_Revenue</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>getAccounts.AnnualRevenue</elementReference>
                    </defaultValue>
                    <fieldText>Annual Revenue</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>SLAx</name>
                    <choiceReferences>SLA</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>SLA</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Onboarding_Statusx</name>
                    <choiceReferences>OnboardingStatus</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Onboarding Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getAccounts</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
