force-app/main/default/flows/Product_Quick_Search.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignValues</name>
        <label>AssignValues</label>
        <locationX>408</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>productId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecords.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MassAssign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MassAssign</name>
        <label>MassAssign</label>
        <locationX>690</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>FinalProductRecord.Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalProductRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverRecord</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AssemblyStates</name>
        <choiceText>AssemblyStates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RainbowBot</stringValue>
        </value>
    </choices>
    <choices>
        <name>CloudyBot</name>
        <choiceText>&lt;i style=&quot;color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;CloudyBot&lt;/i&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CloudyBot</stringValue>
        </value>
    </choices>
    <choices>
        <name>RainbowBot</name>
        <choiceText>&lt;i style=&quot;color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;RainbowBot&lt;/i&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RainbowBot</stringValue>
        </value>
    </choices>
    <interviewLabel>Product Quick Search {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Quick Search</label>
    <loops>
        <name>LoopOverRecord</name>
        <label>LoopOverRecord</label>
        <locationX>488</locationX>
        <locationY>80</locationY>
        <assignNextValueToReference>LoopRecords</assignNextValueToReference>
        <collectionReference>ProductRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DisplayProduct</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>SearchProducts</name>
        <label>SearchProducts</label>
        <locationX>290</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Product_type</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>ProductRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>DisplayProduct</name>
        <label>DisplayProduct</label>
        <locationX>819</locationX>
        <locationY>124</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ProductDisp</name>
            <fieldText>&lt;p&gt;{!FinalProductRecord.Id} - &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!FinalProductRecord.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ProductTypeSearch</name>
        <label>ProductTypeSearch</label>
        <locationX>167</locationX>
        <locationY>71</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SearchProducts</targetReference>
        </connector>
        <fields>
            <name>Product_type</name>
            <choiceReferences>AssemblyStates</choiceReferences>
            <choiceReferences>CloudyBot</choiceReferences>
            <choiceReferences>RainbowBot</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>ProductTypeSearch</startElementReference>
    <status>Active</status>
    <variables>
        <name>FinalProductRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>LoopRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>productId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>productName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
