force-app/main/default/flows/testflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>testCounter</name>
        <label>test</label>
        <locationX>477</locationX>
        <locationY>374</locationY>
        <actionName>Counter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>screen2</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>opts</name>
            <value>
                <elementReference>testMulti</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Counter</nameSegment>
        <outputParameters>
            <assignToReference>recordCount</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>assignpicklistValue</name>
        <label>assignpicklistValue</label>
        <locationX>280</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>strings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>testMulti</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>counterRecordsssssss</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>testCounter</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Multiselect</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MultiSelect__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>counterRecordsssssss</name>
        <dataType>Number</dataType>
        <expression>LEN({!strings})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>testflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>testflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>screen2</name>
        <label>screen2</label>
        <locationX>679</locationX>
        <locationY>358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;You can only select 2 values in picklist&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>recordCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>2.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>testflwo</name>
        <label>test</label>
        <locationX>174</locationX>
        <locationY>222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignpicklistValue</targetReference>
        </connector>
        <fields>
            <name>test</name>
            <dataType>Date</dataType>
            <fieldText>date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Date is not valid&lt;/p&gt;</errorMessage>
                <formulaExpression>{!date} &lt;{!test}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>testMulti</name>
            <choiceReferences>Multiselect</choiceReferences>
            <dataType>String</dataType>
            <fieldText>testMulti</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>testflwo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>strings</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
